
/********* stylos generales ************/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

/************ colores *************/
:root{
    --color1: #000000;
    --color2: #ffffff;
    --color3: #64d954;
}
/************ menu *************/
.navBar{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color1);
    z-index: 1;
}
.navBar .logo{
    color: var(--color2);
    font-size: 2em;
}
.navBar .logo span{
    color: var(--color3);
    font-size: 1em;

}
.navBar ul{
    display: flex;
    
}
.navBar i{
    display: none;
    
}
.navBar ul li a{
    display: flex;
    margin: 0 20px;
    color: var(--color2);
    font-size: 1.5em;
}
.navBar ul li a:hover{
    color: var(--color3);
  
}
.navBar ul li a.active{
    color: var(--color3);
}
/************ responsive *************/
@media (max-width:1100px) {
    .navBar .logo{
        font-size: 1.5em;
    }
    
    .navBar .logo span{
        font-size: 1em;
    
    }
    .navBar ul li a{
        font-size: 1.2em;
    }
}
@media (max-width:800px){
    .navBar ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 370px;
        height: 400px;
        top: 0;
        left: -100%;
        margin-top: 80px;
        border-bottom: 3px solid var(--color3);
        border-top: 3px solid var(--color3);
        border-right: 3px solid var(--color3);
        transition: 0.5s;
        background: var(--color1);

        
    }
   
    .navBar .ul.active{
        left: 0;

    }
    .navBar .fa-bars{
        position: absolute;
        display: block;     
        color: var(--color3);
        right:15px;
        top: 0;
        z-index: 1;
        margin: 20px;
        font-size: 2em;
        cursor: pointer;
        
    }
    .navBar .logo{
        font-size: 2em;
    }
}
@media (max-width:400px){
    .navBar .logo{
        font-size: 1.5em;
    }
    .navBar .fa-bars{
        font-size: 2em;
    }
    .navBar{
        overflow-x: hidden;
    }
}

/************ home *************/
.home{
    width: 100%;
    height: 700px;
    background: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .home-text{
    width: 50%;
    color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.home .home-text .texto{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.home .home-text .texto h1{
    font-size: 4em;
}
.home .home-text .texto h1 span{
    color: var(--color3);
}
.home .home-text .texto h2{
    font-size: 2.5em;
}
.home .home-text .texto h2 span{
    position: relative;
}
.home .home-text .texto h2 span::before{
    content: 'web development';
    color: var(--color3);
    animation: word 20s infinite;

}
.home .home-text .texto h2 span::after{
    content: '';
    position: absolute;
    width: calc(100% + 8);
    height: 100%;
    background-color: var(--color1);
    border-left: 2px solid var(--color3);
    right: -8px;
    animation: cursor .6s infinite, typing 20s steps(14) infinite;

}
@keyframes cursor {
    to{
    border-left: 2px solid var(--color3);

    }
}
@keyframes word {
   
    0%,20%{
        content: 'web developmen';
    }
    21%,40%{
        content: 'web desing';
    }
    41%,60%{
        content: 'photographer';
    }
    61%,80%{
        content: 'blogger';
    }
    81%,100%{
        content: 'content creator'
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
.home .home-text .texto .iconos i{
    font-size: 2em;
    margin: 0 10px;
    color: var(--color3);
}
.home .home-text .texto .iconos i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.home .home-text .texto button{
    width: 150px;
    padding: 10px;
    background: none;
    border-radius: 10px;
    border: 2px solid var(--color3);
    color: var(--color3);
    cursor: pointer;
}
.home .home-text .texto button:hover{
    box-shadow: 0px 0px 50px var(--color3);
   
}
.home .home-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}
.home .home-img img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}
@media (max-width:1100px) {
    .home .home-text .texto{
        width: 400px;
        
    }
    .home .home-img img{
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }
}
@media (max-width:900px){
    .home{
        height: 800px;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .home .home-text{
        width: 100%;
        margin-top: 50px;
        
    }
    .home .home-img{
        margin-top: 400px;
        width: 100%;
        
    }
    .home .home-text .texto{
        width: 500px;
        
    }
    .home .home-img img{
        width: 500px;
        height: 500px;
        
    }
    
}
@media (max-width:700px){
    .home{
        height: 1000px;
    }
    .home .home-img{
        width: 100%;
        margin-top: 100px;
    
    }
    .home .home-text .texto{
        width: 350px;
        height: 450px;
        
    }
    .home .home-text .texto h1{
        font-size: 3em;
    }
    .home .home-text .texto h2{
        font-size: 1.5em;
    }
    .home .home-img img{
        width: 360px;
        height: 360px;
        
    }
    
}
/************ projects *************/
.projects{
    width: 100%;
    height: 800px;
    background: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.projects h2{
    color: var(--color2);
    font-size: 5em;
}
.projects .servicesCajas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.projects .servicesCajas .cajas{
    width: 400px;
    height: 500px;
    border: 2px solid var(--color3);
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color1);
    color: var(--color2);
}
.projects .servicesCajas .cajas:hover{
    background: var(--color2);
    color: var(--color1);
    
}
.projects .servicesCajas .cajas i{
    font-size: 5em;
    color: var(--color3);
}
.projects .servicesCajas .cajas p{
    margin: 0 30px;
}
.projects .servicesCajas .cajas button{
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--color3);
    background: none;
    background: var(--color1);
    color: var(--color3);
}
.projects .servicesCajas .cajas button:hover{
    box-shadow: 0px 0px 50px var(--color3);
    cursor: pointer;
}
@media (max-width: 1322px) {
    .projects{
        height: 1200px;
    }
    .projects .servicesCajas .cajas{
        margin: 30px;
    }
}
@media (max-width: 922px){
    .projects{
        width: 100%;
        height: 2000px;
        justify-content: center;
    }
}
@media (max-width: 472px){
    .projects .servicesCajas .cajas{
        width: 360px;
    }
}

/************ education *************/
.education{
    width: 100%;
    height: 1200px;
    background: var(--color1);
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.education h2{
    text-align: center;
    font-size: 4em;
    color: var(--color2);
}
.education .timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    color: var(--color2);
    position: relative;

}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: var(--color3);
    left: 50%;
    
}
.education .timeline_year{
    position: relative;
    margin: 15px;
    font-size: 1.4em;
}
.education .timeline-items .caja{
    position: relative;
    width: 100%;
    transition: 0.5s;
}
.education .timeline-items .caja:hover{
    transform: scale(1.1);
}
.education .timeline-items .caja .timeline_content{
    border: 2px solid var(--color3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px var(--color3);

}
.education .timeline-items .caja .timeline_content h3{
    color: var(--color3);
    margin-bottom: 10px;

}
.education .timeline-items .caja .timeline_dot{
    position: absolute;
    width: 25px;
    height: 25px;
    background: var(--color3);
    border-radius: 50%;
    left: calc(50% - 9px);

}
.education .timeline-items .caja:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.education .timeline-items .caja:nth-child(even){
    padding-left: calc(50% + 30px);
}
@media (max-width:1130px) {
    
    .education .timeline-items .caja:nth-child(odd){
        padding-right: 50px;
        text-align: left;
        margin-left: 50px;

    }
    .education .timeline-items .caja:nth-child(even){
        padding-left: 0px;
        padding-right: 50px;
        text-align: left;
        margin-left: 50px;
        


    }
    .timeline-items::before{
        left: 0;  
        margin-left: 20px; 

    }
    .education .timeline-items .caja .timeline_dot{
        left: -40px;
    
           

    }
}
@media (max-width:500px){

    .education{
        width: 100%;
        height: 1400px;    
    }
}
/************ contact *************/
.contact{
    width: 100%;
    height: 1000px;
    background: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact h3{
    font-size: 4em;
    color: var(--color2);
    margin-bottom: 50px;
}
.contact .img_form{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;

}
.contact .img_form .img{
    width: 50%;
    height: 600px;
    margin: 30px;
    background-image: url(contact.svg);
    background-position: center;
    background-size: cover;
}
.contact .img_form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 600px;
    border: 2px solid var(--color3);
    color: var(--color2);
    border-radius: 20px;
    margin: 30px;

}
.contact .img_form form input{
    width: 80%;
    height: 60px;
    padding: 0 40px;
    background: none;
    color: var(--color2);
    border: 1px solid var(--color3);
    border-radius: 10px;
    font-size: 1em;
}
.contact .img_form form button{
    width: 80%;
    height: 60px;
    padding: 0 40px;
    background: none;
    color: var(--color2);
    border: 1px solid var(--color3);
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
}
.contact .img_form form button:hover{
    transform: scale(1.1);
}
.contact .img_form form .item:hover{
    border: 1px solid var(--color2);

}
.contact .img_form form textarea{
    width: 80%;
    height: 100px;
    padding: 20px;
    background: none;
    color: var(--color2);
    border: 1px solid var(--color3);
    border-radius: 10px;
    resize: none;
    font-size: 1em;
}
@media (max-width:900px) {
    .contact .img_form .img{  
        display: none;
    }
    .contact .img_form form{
        width: 80%;
    }
}
